/* Failed to import bootstrap library here */
/* @import "~bootstrap/dist/css/bootstrap.min.css";
@import "~css/font-awesome.min.css"; */
/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css"; */

body {
  background-color: #f4f4f4;
}
/* #index-title h5 {z
        font-size: 50px;
    } */
/* .out:hover{
        background-color:red;
        border-radius:10px
    } */
.asterisk {
  font-size: 30px;
  position: absolute;
  right: 585px;
  top: 244px;
  color: #f00;
}
.radio1 {
  position: 0;
  width: 374px;
  height: 36px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  padding: 6px 12px;
}

.form {
  width: 400px;
  margin: 100px auto;
  margin-top: 25px;
}

/* .form .form-control {
        text-align: center;
    } */

.form input,
.radio1 {
  margin-bottom: 20px;
}
.form .form-control,
.radio1 {
  background-color: #d3dce3;
}

.center {
  text-align: center;
}

.form-border {
  border: 2px solid #eaeaea;
  padding: 25px 10px 10px 10px;
}

.form-control {
  position: relative;
}
.form-title {
  text-align: center;
  color: #6c757d;
}
ul {
  list-style: none;
}
.bg-light {
  background-color: #00c6d7 !important;
}
.navbar-nav .active {
  background-color: #0095a6;
  border-radius: 10px;
}
.nav-item {
  padding: 0px 20px;
  display: flex;
}
a h3 {
  font-size: 1.75rem;
  color: #fff;
  font-family: inherit;
}
li a i {
  color: #fff;
}
.badge {
  color: #fff;
  background-color: #00c6d7;
}

ul li .site-name {
  color: #fff;
  font-size: 28px;
  margin-bottom: 0px !important;
  cursor: pointer;
}

.body-down-navbar {
  position: relative;
  top: 72px;
}

/* start side bar */

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; /* To make a smooth move */
}

.navbar {
  /*padding: 15px 10px;*/
  background: #fff;
  border: none;
  border-radius: 0;
  /* margin-bottom: 40px; */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

#icon1 {
  padding-top: 2px;
}

.navbar-icon {
  color: #fafafa;
}

.arrows {
  position: absolute;
  float: right;
  right: 0px;
  top: 4px;
  display: flex;
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386d5;
  color: #fff;
  transition: all 0.3s;
  margin-bottom: 0px;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: "\e259";
  display: block;
  position: absolute;
  right: 20px;
  font-family: "Glyphicons Halflings";
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: "\e260";
}

ul ul a:hover {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
#content {
  width: 100%;
  padding: 13px;
  min-height: 100vh;
  transition: all 0.3s;
}

.product-bg {
  background-image: url("../assets/img/back3.jpg");
  background-size: 120%;
}

/* ---------------------------------------------------
        MEDIA-QUERIES
    ----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
.bordering {
  width: 250px;
  min-height: 350px;
  background: #fff;
}

.bordering .side-new {
  /* width: 150px !important;
  height: 150px !important; */
  min-width: 70% !important;
  min-height: 85% !important;
  border-radius: 50px;
  margin-left: 51px;
  margin-top: 15px;
}

.bordering h3 {
  color: gray;
  text-align: center;
  padding-top: 15px;
}

.bordering p {
  color: gray;
  text-align: center;
  line-height: 24px;
  font-size: 19px;
}

/* end side bar */

/*AdminNavbar*/
.main-table {
  -webkit-box-shadow: 0 3px 10px #ddd;
  -moz-box-shadow: 0 3px 10px #ddd;
  box-shadow: 0 3px 10px #ddd;
}

.main-table td {
  background-color: #fff;
  vertical-align: middle !important;
}

.main-table .btn {
  padding: 2px 10px;
}

.main-table tr:first-child td {
  background: #333;
  color: #fff;
}

.text-center {
  padding-bottom: 20px;
  color: #70777e;
}

.active {
  margin-left: 0px;
  background-color: #0095a6 !important;
  border: 1px solid #0095a6 !important;
}

.effect:hover {
  /* background-color: #7386d5; // UI decision */
  border-radius: 10px;
  cursor: pointer;
}

.row {
  text-align: center;
}

.row .show {
  /* Do the min-width & min-height control the image comp dimentions in nextjs */
  max-height: 270px !important;
  max-width: 270px !important;
  min-height: 185px !important;
  min-width: 290px !important;
  margin-bottom: 25px;
  border-radius: 15px;
  margin-top: 70px;
  left: 0px !important;
  top: 15px !important;
}

.row span {
  /* position: absolute;
  top: 150px;
  left: 130px; */
  height: auto !important;
  color: #ffffff;
}

.show-all {
  font-size: 2rem;
}

.row .show-all {
  border-radius: 5px;
  padding: 2px;
}

/* to put the text above the image
   note: absolute prop make element above all the nodes than controling via (top, right ... etc)
   relative prop keep element in the current node and give controling via (top, right ... etc) */
.row .main-image-title {
  position: relative;
  top: -60px;
}

.main-color {
  background-color: #00c6d7 !important;
  border-color: #00c6d7 !important;
}

.product-list {
  min-height: 325px;
  min-width: 25%;
}

.product-list .title {
  color: #ffffff;
  float: left;
  /* padding-top:10px; */
  /* float: left; */
  /* padding-left:20px; */
}
/* .product-list .price-btn{
        float: right;
        position: absolute;
        right: 13px;
    } */

.product-list p,
.price-btn {
  display: inline;
  margin-bottom: 0px;
  background-color: #00c6d7 !important;
  border-color: #00c6d7 !important;
}

.product-list p {
  margin-left: 120px;
}

.profile-image img {
  width: 102%;
  border-radius: 10px;
  margin-bottom: 20px;
  max-height: 300px;
}
